extends layouts/layout

block article
    article
        | !{text}

        each file in files
            p: a(href="hymmnos/" + file.replace(/=/g, '_').replace('/.', '').toLowerCase() + '.html')  #{file}
