extends layouts/layout

block article
    article
        .metadata
            h1 #{attr.title}

        | !{body}

        each file in files
            //- file[0] = path
            //- file[1] = name
            //- p: a(href="hymmnos/exec_adapter") EXEC_ADAPTER/.
            p: a(href="hymmnos/" + file[0] + '.html') #{file[1]}
