extends layouts/layout

block article
    article
        | !{text}

        each file in files
            p: a(href="hymmnos/" + file.replace(/=/g, '_').replace('/.', '').toLowerCase() + '.html')  #{file}


//-
                         .--------------.
                    .---'  o        .    `---.
                 .-'    .    O  .         .   `-.
              .-'     @@@@@@       .             `-.
            .'@@   @@@@@@@@@@@       @@@@@@@   .    `.
          .'@@@  @@@@@@@@@@@@@@     @@@@@@@@@         `.
         /@@@  o @@@@@@@@@@@@@@     @@@@@@@@@     O     \
        /        @@@@@@@@@@@@@@  @   @@@@@@@@@ @@     .  \
       /@  o      @@@@@@@@@@@   .  @@  @@@@@@@@@@@     @@ \
      /@@@      .   @@@@@@ o       @  @@@@@@@@@@@@@ o @@@@ \
     /@@@@@                  @ .      @@@@@@@@@@@@@@  @@@@@ \
     |@@@@@    O    `.-./  .        .  @@@@@@@@@@@@@   @@@  |
    / @@@@@        --`-'       o        @@@@@@@@@@@ @@@    . \
    |@ @@@@ .  @  @    `    @            @@      . @@@@@@    |
    |   @@                         o    @@   .     @@@@@@    |
    |  .     @   @ @       o              @@   o   @@@@@@.   |
    \     @    @       @       .-.       @@@@       @@@      /
     |  @    @  @              `-'     . @@@@     .    .    |
     \ .  o       @  @@@@  .              @@  .           . /
      \      @@@    @@@@@@       .                   o     /
       \    @@@@@   @@\@@    /        O          .        /
        \ o  @@@       \ \  /  __        .   .     .--.  /
         \      .     . \.-.---                   `--'  /
          `.             `-'      .                   .'
            `.    o     / | `           O     .     .'
              `-.      /  |        o             .-'
                 `-.          .         .     .-'
                    `---.        .       .---'
                         `--------------'

    https://www.asciiart.eu/space/moons
