$link: rgb(0, 83, 189);
$color: rgb(2, 2, 14);
$color-highlight: rgb(255, 244, 115);
$background: rgb(247, 247, 247);
$foreground: rgb(229, 229, 229);

// 設定がダルい
$font-heading: "Yu Gothic", "YuGothic", Helvetica, sans-serif;

// 同上
$font-main: "Yu Mincho", "YuMincho", Century, serif;

$ratio: 1.333;
