$link: rgb(0, 83, 189);
$color: rgb(2, 2, 14);
$color-highlight: rgb(255, 244, 115);
$background: rgb(247, 247, 247);
$foreground: rgb(229, 229, 229);

$font-heading:
    -apple-system, BlinkMacSystemFont,
    "Neue Haas Grotesk Text Pro", "Helvetica Neue", HelveticaNeue,
    "Arial Nova", Arial,
    "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic"
    "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN W3", "HiraKakuProN-W3",
    "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN",
    "メイリオ", "Meiryo", Osaka
    sans-serif;

$font-main:
    "游明朝体", "YuMincho", "游明朝", "Yu Mincho",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", "HiraMinProN-W3", "ヒラギノ明朝 ProN",
    "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro",
    serif;

$ratio: 1.333;
