/*! Lunaris CSS Package | GNU Public License Version 3 */
@import "mixins";
@import "variables";

@import "heading";
@import "block";
@import "inline";

body {
    font-size: 16px;
    font-family: $font-main;
    color: $color;

    background: $background;

    font-kerning: normal;
    font-feature-settings: "palt";

    line-height: 1.46;
}

main {
    display: flex;
    align-items: center;

    flex-direction: column;
}

::selection {
    color: #fff;
    background: $link;
}

article, footer {
    width: 80vw;
}

footer {
    margin: 10vh 0;
}

@include media(md) {
    body {
        font-size: 18px;
    }
}

@include media(lg) {
    body {
        font-size: 20px;
    }

    article, footer {
        width: 768px;
    }
}
